<div fxLayout="column" fxLayoutAlign="space-around center" class="contenedor-experiencia">
  <h3 class="experience">Courses and certifications</h3>

  <div  style="border-top: 1px solid lightgrey; width: 300px; height: 2px; content: ''">
  </div>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <mat-card class="shadow-lg p-3 mb-5 rounded" >
          <mat-card-header fxLayout="row" fxLayoutAlign="space-around center">
            <mat-card-title>FullStack Web Development</mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                <div mat-line>Create dynamic websites with PHP and MySQL.</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                <div mat-line>Create CRUD with PHP and MySQL.</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                <div mat-line>Learn HTML, CSS and JavaScript to do modern designs.</div>
              </mat-list-item>
            </mat-list>
            <mat-chip-list>
              <mat-chip color="warn" selected>Finished</mat-chip>
            </mat-chip-list>
            <div style="width: 100%;border-bottom: 1px solid lightgrey;margin-bottom: 15px; margin-top: 15px;">
            </div>
            <mat-chip-list>
              <mat-chip selected>HTML5</mat-chip>
              <mat-chip selected>CSS3</mat-chip>
              <mat-chip selected>MySQL</mat-chip>
              <mat-chip selected>AJAX</mat-chip>
              <mat-chip selected>JavaScript</mat-chip>
              <mat-chip selected>PHP</mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="carousel-item">
        <mat-card class="shadow-lg p-3 mb-5 rounded">
          <mat-card-header fxLayout="row" fxLayoutAlign="space-around center">
            <mat-card-title>Node</mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                <div mat-line>Create servers.</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                <div mat-line>Create aplications with sockets.</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                <div mat-line>Create REST services.</div>
              </mat-list-item>
            </mat-list>
            <mat-chip-list>
              <mat-chip color="warn" selected>In progress</mat-chip>
            </mat-chip-list>
            <div style="width: 100%;border-bottom: 1px solid lightgrey;margin-bottom: 15px; margin-top: 15px;">
            </div>
            <mat-chip-list>
              <mat-chip selected>Node</mat-chip>
              <mat-chip selected>JWT</mat-chip>
              <mat-chip selected>Git</mat-chip>
              <mat-chip selected>TypeScript</mat-chip>
              <mat-chip selected>MySQL</mat-chip>
              <mat-chip selected>Angular</mat-chip>
              <mat-chip selected>React</mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </div>
      <button class="carousel-control-prev" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"
           color="accent">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
</div>
