div{
  font-family: 'Nunito', serif;
  font-size: 18px;
  color: #CDCDCD;
  font-weight: 200;
  img{
    margin-left: 5px;
  }
}
@keyframes move {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-10%);
  }
}
@media (max-width: 680px) {
  img{
    height: 25px;
    width: 25px;
  }

}
