.contenedor{
  min-height: 100vh;
  background-color: #444444;
  .mat-card-principal{
    min-width: 40%;
    margin-bottom: 15px;
    margin-top: 15px;
    mat-card{
      background: #BCB7B7;
      border: 2px solid rgba(0, 0, 0, 0.16);
      box-shadow: 10px 20px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      mat-card-content{
        .HI{
          font-weight: 800;
          font-size: 24px;
        }
        .nombre{
          font-style: normal;
          font-weight: 800;
          font-size: 32px;
          color: #FFFFFF;
          overflow: hidden; /* Ensures the content is not revealed until the animation */
          border-right: .15em solid orange; /* The typwriter cursor */
          white-space: nowrap; /* Keeps the content on a single line *//* Gives that scrolling effect as the typing happens */
          animation:
            typing 3.5s infinite,
            blink-caret .75s step-end infinite;
        }
      }
    }
  }

  .experience{
    p{
      font-size: 24px;
      color: #cecece;
    }
    img{
      margin-left: 15px;
      animation: move .5s alternate infinite;
    }
  }
  mat-grid-list{
    width: 70vw;
    height: 50vh;
  }
  h3{
    font-size: 28px;
    color: #cecece;
  }
  .animateIcon{
    color: #BCB7B7;
    margin: 30px;
    mat-icon {
      animation: appear 1.4s alternate infinite;
      transform: scale(1.8);
    }
  }
}

footer{
  display: flex;
  position: sticky;
  bottom: 0;
  padding: 5px;
  width: 100%;
  background: #BCB7B7;
  i{
    margin-right: 15px;
  }
}

@keyframes move {
  from{
    transform: translateY(-13%);
  }


  to {
    transform: translateY(-15%);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(1.4);
  }

  to {
    opacity: 1;
    transform: scale(1.8);
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


@media (max-width: 680px) {
  .mat-card-principal{
    width: 98%;
  }
  .experience{
    margin: 15px;
    p{
      font-size: 20px;
    }
  }
  h3{
    font-size: 16px;
  }

  @keyframes typing {
     from { width: 0 }
     to { width: 57% }
   }

}
