<div class="activities" fxLayout="column" >
  <p>
    <mat-icon color="warn">done</mat-icon> Updating and redesigning existing Front-End and Back-End projects.
    <br>
    <mat-icon color="warn">done</mat-icon> Creating new ones for costumers needs.
  </p>
  <p *ngIf="showMore" class="animate">
    <mat-icon color="warn">done</mat-icon> Using Angular 8+ to develop Front-End.
    <br>
    <mat-icon color="warn">done</mat-icon> Using Flex-Layout for HTML UI layout for Angular applications, using flexbox and a responsive layout.
    <br>
    <mat-icon color="warn">done</mat-icon> Using NVM for managing Node versions.
    <br>
    <mat-icon color="warn">done</mat-icon> Using Angular Material for UI.
    <br>
    <mat-icon color="warn">done</mat-icon> Creating REST API using SpringBoot.
    <br>
    <mat-icon color="warn">done</mat-icon> Using JPQL, JPA & Criteria to do queries.
    <br>
    <mat-icon color="warn">done</mat-icon> Using ThymeLeaf for templates.
    <br>
  </p>
  <button mat-button (click)="showMore = !showMore">
    {{showMore ? 'Close' : 'See more'}}
  </button>
</div>
