.activities{
  font-size: 20px;
  color: #d5d4d4;
  animation: moveToCenter 1.2s;
  button{
    text-decoration: underline;
    color: #c2c1c1;
    font-size: 20px;
    letter-spacing: 2px;
  }
  p{
    margin-bottom: 0;
  }
  .animate{
    animation: animate 2s linear;
  }
}
@keyframes moveToCenter {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}@keyframes animate {
  from{
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
